# Ex1 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [9]:
url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"
chipo = pd.read_csv(url, sep="\t")
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

### Step 4. How many products cost more than $10.00?

In [30]:
to_float = lambda x:float(x[1:-1])
chipo_float = chipo["item_price"].apply(to_float)
chipo["item_price_float"] = chipo_float
chipo_float[chipo_float>10].count()

1130

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [31]:
chipo[["item_name", "item_price"]].head()

                               item_name item_price
0           Chips and Fresh Tomato Salsa     $2.39
1                                   Izze     $3.39
2                       Nantucket Nectar     $3.39
3  Chips and Tomatillo-Green Chili Salsa     $2.39
4                           Chicken Bowl    $16.98

### Step 6. Sort by the name of the item

In [32]:
chipo.sort_values(by="item_name")
chipo.head()

,order_id,quantity,item_name,choice_description,item_price,item_price_float
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39,2.39
1,1,1,Izze,[Clementine],$3.39,3.39
2,1,1,Nantucket Nectar,[Apple],$3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98,16.98

### Step 7. What was the quantity of the most expensive item ordered?

In [35]:
chipo.sort_values(by="item_price_float").head()

,order_id,quantity,item_name,choice_description,item_price,item_price_float
1140,471,1,Bottled Water,NaN,$1.09,1.09
821,338,1,Canned Soda,[Coca Cola],$1.09,1.09
3926,1575,1,Canned Soda,[Dr. Pepper],$1.09,1.09
107,47,1,Canned Soda,[Dr. Pepper],$1.09,1.09
2562,1014,1,Canned Soda,[Coca Cola],$1.09,1.09

### Step 8. How many times were a Veggie Salad Bowl ordered?

In [46]:
#chipo.groupby("item_name").sum().loc["Veggie Salad"]
chipo_salad = chipo[chipo.item_name="Vei"]

order_id            7265.00
quantity               6.00
item_price_float      50.94
Name: Veggie Salad, dtype: float64

### Step 9. How many times people orderd more than one Canned Soda?

In [52]:
ans = chipo[(chipo.item_name=="Canned Soda")&(chipo.quantity>1)]
len(ans)

20